#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: block;
    background: #000;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    color:

